services:
 postgres:
   container_name: postgres
   image: postgres:14.5-alpine
   ports:
    - '5432:5432'
   environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=postgres
   volumes:
     - ./migrations/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
     # - ./migrations/insert.sql:/docker-entrypoint-initdb.d/insert.sql:ro
   restart: always
 app:
   container_name: devops-basketball-app
   build:
     context: .
     dockerfile: Dockerfile
   ports:
     - '8080:8080'
     - '8081:8081'
   environment:
     - POSTGRES_URL=postgres://postgres:postgres@postgres:5432/postgres
   depends_on:
     - postgres
   restart: always
